.index-header {
    border-bottom: 1px solid $dark;

    li a {
        font-weight: 700;
        &:hover{
            opacity: .6 !important;
        }
    }
    
    h1 a{
        background-image: url('../img/logo1-fixie.svg');
        display: block;
        width: 112px;
        height: 48px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
}
.index-footer{
    h4 a{
        background-image: url('../img/logo1-fixie.svg');
        display: block;
        width: 112px;
        height: 48px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    li a:hover {
        opacity: .6 !important;
     }
}